/* Change */
.change{
  margin: 0 auto;
}

.change-input{
  margin: 0 auto 10px;
  padding: 10px 0;
  width: 30%;
  display: block;
  color: #BFBFBF;
  font-size: 15px;
  font-family: Gotham;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #0d0d0d;
  background-color: #222222;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 6px #0d0d0d;
}

.change-button{
  margin: 10px auto 40px auto;
  padding: 8.5px 0;
  width: 300px;
  display: block;
  background-color: #252525;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  font-family: Gotham;
  letter-spacing: 2px;
  color: #AFAFAF;
  text-shadow: 2px 2px 2px #0d0d0d;
  box-shadow: 2px 2px 6px #0d0d0d;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  cursor:pointer;
}

.change-button:hover{
  box-shadow: 2px 4px 8px #0d0d0d;
  text-shadow: 2px 3px 3px #0d0d0d;
}

/* Tour-Add Responsivity */
@media screen and (max-width: 1150px){
  .change-input{
    width: 40%;
  }
}
@media screen and (max-width: 775px){
  .change-input{
    width: 70%;
  }
}
@media screen and (max-width: 575px){
  .change-input{
    width: 80%;
  }
}
@media screen and (max-width: 426px){
  .change-input{
    width: 90%;
  }
}
